<div class="book">
  <div>
    <div class="images">
      <img [src]="book.image" style="height: auto; width: 250px" />
    </div>
    <div class="rating">
      <ngb-rating [max]="5" [rate]="book.rating" [readonly]="true"></ngb-rating>
    </div>
    <div class="title">
      <p>{{ book.title | titlecase }}</p>
    </div>
    <div class="author">
      <p>{{ book.author }}</p>
    </div>
    <p class="des">
      Status:<b>{{ book.status }}</b>
    </p>
    <p class="des">
      {{ book.des | slice : 0 : 200 }}
      <span *ngIf="!showMore">...</span>
      <a
        href="bookdetails/{{ book.id }}"
        (click)="details(book.id)"
        *ngIf="!showMore"
        (click)="showMore = true"
        >[Show More]</a
      >
    </p>
    <div class="button">
      <button
        (click)="edit(book.id)"
        mat-icon-button
        color="basic"
        aria-label="Edit is used edit content of the book"
      >
        <mat-icon matTooltip="edit">edit</mat-icon>
      </button>
      <button
        (click)="delBook(book.id)"
        mat-icon-button
        color="warn"
        aria-label="delete is used delete content of the book"
      >
        <mat-icon matTooltip="delete">delete</mat-icon>
      </button>
      <button
        (click)="details(book.id)"
        mat-icon-button
        color="primary"
        aria-label="info is used to show the description"
      >
        <mat-icon matTooltip="info">info</mat-icon>
      </button>
      <button
        (click)="addToFav(book)"
        mat-icon-button
        color="warn"
        aria-label="favourite is used to show the description"
      >
        <mat-icon matTooltip="favorite">favorite</mat-icon>
      </button>
    </div>
  </div>
</div>
